wf2-alerts-trigger.json
{
    "name": "WF2 Price/Volume/News Trigger -> Alert + Short Explanation (Research Only)",
    "nodes": [
        {
            "parameters": {
                "triggerTimes": {
                    "item": [
                        {
                            "mode": "everyX",
                            "value": 15,
                            "unit": "minutes"
                        }
                    ]
                }
            },
            "id": "8d09b5b6-9d9a-4f43-83c1-2f1e5a1c0a11",
            "name": "Cron Every 15m",
            "type": "n8n-nodes-base.cron",
            "typeVersion": 1,
            "position": [
                220,
                280
            ]
        },
        {
            "parameters": {
                "url": "={{$env.SUPABASE_URL + '/functions/v1/finance-evaluate-alerts'}}",
                "method": "POST",
                "sendHeaders": true,
                "headerParametersUi": {
                    "parameter": [
                        {
                            "name": "Authorization",
                            "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "jsonParameters": true,
                "bodyParametersJson": "={\"org_id\": $env.FINANCE_ORG_ID, \"user_id\": $env.FINANCE_USER_ID, \"disclaimer\":\"Research/education only — not financial advice.\"}"
            },
            "id": "d0c0b1f1-7f99-4b61-9cf0-7c2c7f5f0e90",
            "name": "Evaluate Alerts (Supabase)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                520,
                280
            ]
        },
        {
            "parameters": {
                "jsCode": "const res = $json;\nconst alerts = res.data?.triggered_alerts || res.triggered_alerts || [];\nif (!alerts.length) return [];\nreturn alerts.map(a => ({ json: a }));"
            },
            "id": "a0f3d2ef-40a5-4b6f-9e78-9e2e1d9f0a55",
            "name": "Explode Alerts",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                780,
                280
            ]
        },
        {
            "parameters": {
                "jsCode": "const a = $json;\nconst title = a.title || `Alert: ${a.alert_type || 'event'}`;\nconst details = a.message || a.explanation || JSON.stringify(a);\nconst msg = `${title}\\n\\n${details}\\n\\nResearch/education only — not financial advice.`;\nreturn [{ json: { title, message: msg } }];"
            },
            "id": "b0c6c0a0-2f2f-4b68-9c2c-8882a0a0a0a0",
            "name": "Format Alert Message",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1020,
                280
            ]
        },
        {
            "parameters": {
                "url": "={{'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage'}}",
                "method": "POST",
                "sendHeaders": true,
                "headerParametersUi": {
                    "parameter": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "jsonParameters": true,
                "bodyParametersJson": "={\"chat_id\":\"\" + $env.TELEGRAM_CHAT_ID, \"text\": $json.message, \"disable_web_page_preview\": true}"
            },
            "id": "c2b2b2b2-1111-4a4a-9c9c-222222222222",
            "name": "Send Telegram Alert",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1260,
                160
            ]
        },
        {
            "parameters": {
                "fromEmail": "={{$env.EMAIL_FROM}}",
                "toEmail": "={{$env.ALERTS_EMAIL_TO}}",
                "subject": "={{$json.title + ' (Research Only)'}}",
                "text": "={{$json.message}}"
            },
            "id": "e2e2e2e2-3333-4b4b-8c8c-444444444444",
            "name": "Send Email Alert (SMTP)",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 1,
            "position": [
                1260,
                400
            ],
            "credentials": {
                "smtp": {
                    "name": "SMTP_ENV"
                }
            }
        }
    ],
    "connections": {
        "Cron Every 15m": {
            "main": [
                [
                    {
                        "node": "Evaluate Alerts (Supabase)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Evaluate Alerts (Supabase)": {
            "main": [
                [
                    {
                        "node": "Explode Alerts",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Explode Alerts": {
            "main": [
                [
                    {
                        "node": "Format Alert Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Alert Message": {
            "main": [
                [
                    {
                        "node": "Send Telegram Alert",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Send Email Alert (SMTP)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionTimeout": 300
    }
}