wf4-statement-upload-webhook.json
{
    "name": "WF4 Statement Upload Webhook -> Parse -> Update -> Notify (Research Only)",
    "nodes": [
        {
            "parameters": {
                "path": "statement-upload",
                "httpMethod": "POST",
                "responseMode": "onReceived",
                "responseData": "allEntries"
            },
            "id": "0f0f0f0f-1111-2222-3333-444444444444",
            "name": "Webhook Statement Uploaded",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                220,
                260
            ]
        },
        {
            "parameters": {
                "jsCode": "const body = $json.body || $json;\nif (!body.statement_upload_id) throw new Error('Missing statement_upload_id');\nreturn [{ json: { org_id: body.org_id, user_id: body.user_id, statement_upload_id: body.statement_upload_id } }];"
            },
            "id": "bcbcbcbc-aaaa-bbbb-cccc-dddddddddddd",
            "name": "Validate Payload",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                520,
                260
            ]
        },
        {
            "parameters": {
                "url": "={{$env.SUPABASE_URL + '/functions/v1/finance-parse-statement'}}",
                "method": "POST",
                "sendHeaders": true,
                "headerParametersUi": {
                    "parameter": [
                        {
                            "name": "Authorization",
                            "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "jsonParameters": true,
                "bodyParametersJson": "={\"org_id\": $json.org_id, \"user_id\": $json.user_id, \"statement_upload_id\": $json.statement_upload_id}"
            },
            "id": "99999999-8888-7777-6666-555555555555",
            "name": "Parse Statement (Supabase)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                820,
                260
            ]
        },
        {
            "parameters": {
                "jsCode": "const res = $json;\nconst title = 'Statement Parsed';\nconst summary = res.data?.summary ? JSON.stringify(res.data.summary) : JSON.stringify(res);\nconst msg = `${title}\\n\\n${summary}\\n\\nResearch/education only — not financial advice.`;\nreturn [{ json: { title, message: msg } }];"
            },
            "id": "12345678-90ab-cdef-1234-567890abcdef",
            "name": "Format Parse Notification",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1080,
                260
            ]
        },
        {
            "parameters": {
                "url": "={{'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage'}}",
                "method": "POST",
                "sendHeaders": true,
                "headerParametersUi": {
                    "parameter": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "jsonParameters": true,
                "bodyParametersJson": "={\"chat_id\":\"\" + $env.TELEGRAM_CHAT_ID, \"text\": $json.message, \"disable_web_page_preview\": true}"
            },
            "id": "abcdefab-cdef-abcd-efab-cdefabcdefab",
            "name": "Send Telegram Parse",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1340,
                140
            ]
        },
        {
            "parameters": {
                "fromEmail": "={{$env.EMAIL_FROM}}",
                "toEmail": "={{$env.DIGEST_EMAIL_TO}}",
                "subject": "={{$json.title + ' (Research Only)'}}",
                "text": "={{$json.message}}"
            },
            "id": "fedcbafe-dcba-fedc-bafe-dcbafedcbafe",
            "name": "Send Email Parse (SMTP)",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 1,
            "position": [
                1340,
                320
            ],
            "credentials": {
                "smtp": {
                    "name": "SMTP_ENV"
                }
            }
        }
    ],
    "connections": {
        "Webhook Statement Uploaded": {
            "main": [
                [
                    {
                        "node": "Validate Payload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Payload": {
            "main": [
                [
                    {
                        "node": "Parse Statement (Supabase)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Statement (Supabase)": {
            "main": [
                [
                    {
                        "node": "Format Parse Notification",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Parse Notification": {
            "main": [
                [
                    {
                        "node": "Send Telegram Parse",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Send Email Parse (SMTP)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionTimeout": 300
    }
}